<html lang="en">
<%- include("../partials/header.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>
  <h2 class="resent_header">Resent Customers History</h2>
  <div class="customers_container">
    <% customers.forEach(customer => { %>
    <div class="customer">
      <a href="<%= customer.customer_id %>">
        <b><%= customer.full_name%></b></a>
      <a href="/customers/<%= customer.customer_id %>/edit?full_name=<%=customer.full_name%>">
        <button>Edit</button></a>
    </div>
    <% }) %>
  </div>
</body>
<%- include("../partials/footer.ejs") %>

</html>