<html lang="en">
<%- include('../partials/header.ejs') %>

<body>
  <%- include('../partials/nav.ejs') %>
  <div class="searchPostgresLogo">
    <img src="/postgres-icon.webp" alt="postgres-icon.webp" width="38px" height="38px">
  </div>
  <div class="gresSearchContainer">
    <h2>Postgres Search Results</h2>
    <% if (pSearch.length > 0) { %>
    <div class="searchGridContainer">
      <% pSearch.forEach(film => { %>
      <div class="filmBox">
        <img src="/no-image.webp" alt="no-image.webp" width="280" height="280">
        <a href="/search/postgres/<%= film.fid %>">
          <p><b><%= film.title %></b> (<%= film.release_year %>)</p>
        </a>
      </div>
      <% }) %>
      <% } else { %>
      <p>No Films found.</p>
      <% } %>
    </div>
  </div>
</body>
<% if (pSearch.length <= 5) { %>
  <%- include('../partials/footer.ejs') %>
  <% } else {%>
  <%- include('../partials/altFooter.ejs') %>
  <% } %>

</html>