<html lang="en">
<%- include('./partials/header.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>
  <img class="mongoLogo" src="/mongo-leaves.webp" alt="mongo-leaves.webp" width="38px" height="38px">
  <div class="moviesDetailsContainer">
    <h2><%= mMovies[0].title %> (<%= mMovies[0].year %>)</h2>
    <% mMovies.forEach(result => { %>
    <img src="<%= result.poster %>" alt="no-image.webp" width="350" height="">

    <div class="moviesDetails">
      <div class="monSmallDetails">
        <h3>Details</h3>
        <% if (result.genres != null) {%>
        <% if (result.genres.length > 1) {%>
        <p><b>Category:</b>&nbsp&nbsp<%= result.genres.join(", ") %></p>
        <% } else {%>
        <p><b>Category:</b>&nbsp&nbsp<%= result.genres%> </p>
        <% } %>
        <% } %>
        <p><b>Length:</b>&nbsp&nbsp<%= result.runtime %> </p>
        <% if (!result.rated) {%>
        <p><b>Rated:</b>&nbsp&nbspNot Rated </p>
        <% } else { %>
        <p><b>Rated:</b>&nbsp&nbsp<%= result.rated %> </p>
        <% } %>
        <% if (result.languages != null) {%>
        <% if (result.languages.length > 1) {%>
        <p><b>Languages:</b>&nbsp&nbsp<%= result.languages.join(", ") %></p>
        <% } else {%>
        <p><b>Language:</b>&nbsp&nbsp<%= result.languages%> </p>
        <% } %>
        <% } %>
      </div>

      <div class="contributors">
        <h3>Contributors</h3>
        <% if (result.cast) {%>
        <b>Actors:</b>
        <% if (result.cast.length > 1) {%>
        <p><%= result.cast.join(", ")%> </p>
        <% } else {%>
        <p><%= result.cast%> </p>
        <% } %>
        <% } %>

        <br />

        <% if (result.directors) {%>
        <b>Directors:</b>
        <% if (result.directors.length > 1) {%>
        <p><%= result.directors.join(", ") %></p>
        <% } else {%>
        <p><%= result.directors%> </p>
        <% } %>
        <% } %>

        <br />

        <% if (result.writers) {%>
        <b>Writers:</b>
        <% if (result.writers.length > 1) {%>
        <p><%= result.writers.join(", ") %></p>
        <% } else {%>
        <p><%= result.writers %> </p>
        <% } %>
        <% } %>
      </div>

      <div class="rating">
        <h3>Ratings</h3>
        <% if (result.imdb.rating) {%>
        <p>Imdb Rating: <%= result.imdb.rating %></p>
        <% } %>
        <% if (result.metacritic) {%>
        <p>Metacritic Rating: <%= result.metacritic %></p>
        <% } %>
      </div>
    </div>

    <form class="TextArea" action="/<%= result._id %>/post-review" method="POST">
      <div>
        <textarea placeholder="Write a review, it will be saved to your account." name="paragraph_text" cols="50" rows="5" maxlength="1150" required></textarea>
        <div class="txtBtn">
          <button type="submit">Submit</button>
          <% if(messages.success) { %> <small><%- messages.success %></small> <% } %>
        </div>
      </div>
    </form>
  </div>

  <div class="monDescription">
    <% if (result.fullplot) {%>
    <h3>Description:</h3>
    <p><%= result.fullplot %></p>
    <% } %>
  </div>
  <% }) %>
</body>
<%- include('./partials/footer.ejs') %>

</html>